{:paths ["src"]
 :deps {}
 :aliases {:flowstorm-local {:classpath-overrides {org.clojure/clojure nil}
                             :extra-deps {com.github.flow-storm/clojure {:mvn/version "RELEASE"}
                                          com.github.flow-storm/flow-storm-dbg {:mvn/version "RELEASE"}}
                             :jvm-opts ["-Dflowstorm.startRecording=false"
                                        "-Dclojure.storm.instrumentEnable=true"
                                        #_"-Dclojure.storm.instrumentAutoPrefixes=true"
                                        "-Dclojure.storm.instrumentOnlyPrefixes=tic-tac-two."]}}}
